<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="main-container">
        <!-- ===ASIDE START=== -->
        <div class="aside">
            <div class="logo">
                <img src="/images/name.png" alt="Not found">
                <a href="#"><span>H</span>ariom</a>
            </div>
            <div class="nav-toggler">
                <span></span>
            </div>
            <div>
                <ul class="nav">
                    <li><a href="/" class="active"><i class="fa fa-home"></i>Home</a></li>
                    <li><a href="/about"><i class="fa fa-user"></i>About</a></li>
                    <li><a href="/service"><i class="fa fa-list"></i>Services</a></li>
                    <li><a href="/portfolio"><i class="fa fas fa-briefcase"></i>Portfolio</a></li>
                    <li><a href="/contact"><i class="fa far fa-comment"></i>Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>