<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Website</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

</head>
<body>
    <div class="main-container">  
        {{>header}}      
        <!-- MAIN CONTENT START -->
        <div class="main-content">
            <!-- HOME SECTION START -->
            <section class="home active section" id="home">
                <div class="container">
                    <div class="row">
                        <div class="home-info padd-15">
                            <h3 class="hello">Hello, my name is <span class="name">Hariom Patidar</span></h3>
                            <h3 class="my-profession">I'm a <span class="typing">web designer</span></h3>
                            <p>I'm a web designer and a programmer. My interestes is in Web development and software
                                development. I'm a full-stack developer.</p>
                            <a href="#" class="btn ">Download CV</a>
                        </div>
                        <div class="home-img padd-15">
                            <img src="/images/bg-image.png" class="img1" alt="Not found">
                            <img src="/images/image.png" class="img2" alt="Not found">
                        </div>
                    </div>
                </div>
            </section>
            <!-- HOME SECTION END -->
           
</body>
</html>